@charset "utf-8";

/**************************************************
	[수정 및 추가내역]
	20170102 - 그룹정보관리 설정이미지 추가
	20171227 - input, textarea mode 추가
	   
**************************************************/

/**************************************************
   reset CSS
**************************************************/
input[type="text"] {-webkit-ime-mode:inactive; -moz-ime-mode:inactive; -ms-ime-mode:inactive; ime-mode:inactive;}
textarea {-webkit-ime-mode:inactive; -moz-ime-mode:inactive; -ms-ime-mode:inactive; ime-mode:inactive;}

/**************************************************
	시스템설정
**************************************************/

/*그룹정보관리 설정이미지*/
.com_ta table td.logo_set_box .type_a_new{height:137px;margin:0 auto;background:url('../../Images/lang/cn/img_add_atype_new_cn.jpg') no-repeat center;}
.com_ta table td.logo_set_box .type_b_new{height:137px;margin:0 auto;background:url('../../Images/lang/cn/img_add_btype_new_cn.jpg') no-repeat center;}
.com_ta table td.logo_set_box .type_top{height:137px;margin:0 auto;background:url('../../Images/lang/cn/img_add_toplogo_cn.jpg') no-repeat center;}
.com_ta table td.logo_set_box .type_footer{height:137px;margin:0 auto;background:url('../../Images/lang/cn/img_add_footer_cn.jpg') no-repeat center;}
.com_ta table td.logo_set_box .type_phone_a{height:137px;margin:0 auto;background:url('../../Images/lang/cn/img_add_phone_atype_cn.jpg') no-repeat center;}
.com_ta table td.logo_set_box .type_phone_b{height:137px;margin:0 auto;background:url('../../Images/lang/cn/img_add_phone_btype_cn.jpg') no-repeat center;}
.com_ta table td.logo_set_box .type_msg_new{height:137px;margin:0 auto;background:url('../../Images/lang/cn/img_add_msg_new_cn.jpg') no-repeat center;}